.spinning-wheel {
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

.palette {
  position: relative;
  display: inline-block;
  overflow: hidden;
  pointer-events: none;
}

.option {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}

.position-indicator {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid black;
  position: absolute;
  right: 0px;
}

.wheel-container {
  position: relative;
  overflow: hidden;
}

.wheel-boundary {
  position: relative;
  margin: 0px auto;
}

.wheel-option-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
