<div class="wheel-container mb-4">
  <div class="wheel-boundary"
      [ngStyle]="{
        width: wheelSize + 'px',
        height: wheelSize + 'px'
      }"
  >
    <div
      class='spinning-wheel'
      [ngStyle]="{
      transform: 'rotate(' + currentRotation + 'rad)',
      width: wheelSize + 'px',
      height: wheelSize + 'px'
    }"
      (click)="startRotation(10000)"
    >
      <div class="palette"
        [ngStyle]="{
          width: wheelSize + 'px',
          height: wheelSize + 'px'
        }"
      >
        <div
          class="option"
          *ngFor="let option of wheelOptions"
          [ngStyle]="{
          clipPath: getSliceClipPath(wheelOptions.length),
          border: (wheelSize / 2 - 15) + 'px solid ' + option.color,
          transform: 'rotate(' + option.rotation + 'rad)'
        }">
          <div
            class="wheel-option-text"
            [ngStyle]="{
            transform: 'rotate(' + option.textRotation + ')',
            marginLeft: textMarginLeft + 'px',
            marginTop: textMarginTop + 'px',
            fontSize: textSize + 'px'
          }"
          >
            {{trimTextLength(option.text)}}
          </div>
        </div>
      </div>
    </div>
    <div
      class="position-indicator"
      [ngStyle]="{top: (wheelSize / 2 -10) + 'px'}"
    ></div>
  </div>
</div>
