@if (isLoggedIn) {
  <h2 class="text-center pt-5 pb-3">Create a wheel</h2>
  <div class="wheel-creator-container">
    <div class="d-flex justify-content-center mb-2">
      <input
        placeholder="Wheel name"
        [name]="'wheelName'"
        class="wheel-form-option"
        type="text"
        [(ngModel)]="wheelName"
      >
    </div>
    <app-wheel-editor
      [staticOptions]="demoOptions"
    ></app-wheel-editor>
    <app-wheel-options
      [optionInputs]="optionInputs"
      [submitProcessing]="wheelProcessing"
      [submitActive]="!wheelProcessing"
      [canEdit]="true"
      (optionAdded)="addOption()"
      (optionRemoved)="removeOption($event)"
      (optionChanged)="updateDemoWheel()"
      (optionLocked)="lockOption($event)"
      (wheelSubmitted)="createWheel()"
    ></app-wheel-options>
    <app-wheel-list [wheelSchemas]="userSchemas" [listTitle]="'Your wheels:'"></app-wheel-list>
    <app-wheel-list [wheelSchemas]="collaborationSchemas" [listTitle]="'Guest wheels:'"></app-wheel-list>
  </div>
} @else {
  <h2 class="text-center pt-5 pb-3">Log in to save a wheel</h2>
  <app-wheel-editor
    [staticOptions]="demoOptions"
  ></app-wheel-editor>
  <app-wheel-options
    [optionInputs]="optionInputs"
    [submitProcessing]="wheelProcessing"
    [submitActive]="!wheelProcessing"
    [canEdit]="true"
    [showSubmit]="false"
    (optionAdded)="addOption()"
    (optionRemoved)="removeOption($event)"
    (optionChanged)="updateDemoWheel()"
    (optionLocked)="lockOption($event)"
  ></app-wheel-options>
}

