<div class="wheel-creator-container">
    <h2 class="text-center mb-4">{{wheelName}}</h2>
    <div class="w-100">
        <app-wheel
            [wheelSize]="calculatedWheelSize"
            [textSize]="textSize"
            [textOffset]="textOffset"
            [textMarginTop]="textMarginTop"
            [textMarginLeft]="textMarginLeft"
            [spinTime]="spinTime"
            [options]="options"
        ></app-wheel>
    </div>
    <app-wheel-options
        [optionInputs]="optionInputs"
        [submitProcessing]="wheelProcessing"
        [submitActive]="!wheelProcessing"
        (optionAdded)="addOption()"
        (optionRemoved)="removeOption($event)"
        (wheelSubmitted)="updateWheel()"
    ></app-wheel-options>
</div>
