<div class="wheel-container">
  <div
    class='spinning-wheel'
    [ngStyle]="{
    transform: 'rotate(' + currentRotation + 'rad)'
  }"
    (click)="startRotation(5000)"
  >
    <div class="palette">
      <div
        class="option"
        *ngFor="let option of options"
        [ngStyle]="{
        clipPath: getSliceClipPath(options.length),
        border: '235px solid ' + option.color,
        transform: 'rotate(' + option.rotation + 'rad)'
      }">
        <div
          [ngStyle]="{
          transform: 'rotate(' + option.textRotation + ')',
          marginLeft: textMarginLeft + 'px',
          marginTop: textMarginTop + 'px',
          fontSize: textSize + 'px'
        }"
        >
          {{option.text}}
        </div>
      </div>
    </div>
  </div>
  <div class="position-indicator"></div>
</div>
<p>Result: {{currentResult?.text ?? 'none'}}</p>
