<h3 class="text-center mt-4 pb-2">Variables</h3>

<div *ngIf="variables && availableSchemas" style="margin-left: auto; margin-right: auto;">
    <div *ngFor="let variable of variables; let i = index;" class="d-flex align-items-center justify-content-center mb-2">
        <span class="text-white variable-name me-1">{{variable.variableName}}</span>
        <select [(ngModel)]="variable.wheelId" [name]="'wheelDropdown' + i" class="form-control mx-2" style="width: 200px;" id="role">
            <option>None</option>
            <option *ngFor="let schema of availableSchemas" [value]="schema.id">{{schema.name}}</option>
        </select>
    </div>
</div>

<p *ngIf="!variables || variables.length === 0" class="text-white text-center pb-2">No variables yet.</p>