/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

$body-bg: #212529;
$body-color: #d6d6d6;

.dark-card {
  @extend .card;
  @extend .shadow;
  background: #25292D;
}

.bg-dark-secondary {
  background: #25292D;
}

.action-icon {
  cursor: pointer;
}

html body {
  background-color: $body-bg;
  color: $body-color;
  max-width: 100%;
  overflow-x: hidden;
}

select {
  background: #2B2A33 !important;
  color: $body-color !important;
  border-color: #8C8C99 !important;
  cursor: pointer;
}

select:hover {
  border-color: #B1B1B9 !important;
}

:root {
  color-scheme: dark;
}